{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right"><a href="{{ cancel }}" class="btn btn-default"><i class="fa fa-reply"></i> {{ button_cancel }}</a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">

      {% if message %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-info"></i> {{ message }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">


              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <td class="text-left">{{ column_product }}</td>
                      <td class="text-right">{{ column_quantity }}</td>
                      <td class="text-right">{{ column_price }}</td>
                      <td class="text-right">Berat</td>
                      <td class="text-right">Subtotal</td>
                      <td width="80" class="text-right">Action</td>
                    </tr>
                  </thead>
                  <tbody id="cart">
                    {% if order_products or order_vouchers %}
                    {% set product_row = 0 %}
                    {% for order_product in order_products %}
                    <tr id="itemId{{ order_product.order_product_id }}">
                      <td class="text-left">{{ order_product.name }}<br />
                        <input type="hidden" name="product[{{ product_row }}][product_id]" value="{{ order_product.product_id }}" />
                        {% for option in order_product.option %}
                        - <small>{{ option.name }}: {{ option.value }}</small><br />
                        {% if option.type == 'select' or option.type == 'radio' or option.type == 'image' %}
                        <input type="hidden" name="product[{{ product_row }}][option][{{ option.product_option_id }}]" value="{{ option.product_option_value_id }}" />
                        {% endif %}
                        {% if option.type == 'checkbox' %}
                        <input type="hidden" name="product[{{ product_row }}][option][{{ option.product_option_id }}][]" value="{{ option.product_option_value_id }}" />
                        {% endif %}
                        {% if option.type == 'text' or option.type == 'textarea' or option.type == 'file' or option.type == 'date' or option.type == 'datetime' or option.type == 'time' %}
                        <input type="hidden" name="product[{{ product_row }}][option][{{ option.product_option_id }}]" value="{{ option.value }}" />
                        {% endif %}
                        {% endfor %}</td>
                      <td class="text-right">{{ order_product.quantity }}
                        <input type="hidden" name="product[{{ product_row }}][quantity]" value="{{ order_product.quantity }}" /></td>
                      <td class="text-right">{{ order_product.price_rp}}</td>
                      <td class="text-right">{{ order_product.berat }} Gram</td>
                      <td class="text-right">{{ order_product.total }}</td>
                      <td class="text-right"><button onclick="hapusItem({{ order_product.order_product_id }})" class="btn btn-sm btn-danger" title="Hapus item" type="button"><i class="fa fa-times"></i></button></td>
                    </tr>
                    {% set product_row = product_row + 1 %}
                    {% endfor %}
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="text-right">{{ berat }} Gram </td>
                      <td class="text-right">{{ subtotal }}</td>
                      <td></td>
                    </tr>
                    {% set voucher_row = 0 %}

                    {% else %}
                    <tr>
                      <td class="text-center" colspan="5">{{ text_no_results }}</td>
                    </tr>
                  </tbody>
                  {% endif %}
                </table>
              </div>
              <fieldset>
                <form class="form-horizontal" action="{{ actionAddItem }}" method="post">
                    <legend>Tambah Produk</legend>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-product">Pilih Produk</label>
                      <div class="col-sm-10">
                        <input type="text" name="product" required value="" id="input-product" class="form-control" />
                        <input type="hidden" name="product_id" id="product_id" value="" />
                        <input type="hidden" name="order_id" value="{{ order_id }}" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-quantity">{{ entry_quantity }}</label>
                      <div class="col-sm-10">
                        <input type="text" name="quantity" required value="1" id="input-quantity" class="form-control" />
                      </div>
                    </div>
                    <div id="option"></div>

                  <div class="text-right">
                    <button type="submit"  data-loading-text="{{ text_loading }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> {{ button_product_add }}</button>
                  </div>
                  </form>
</fieldset>
              <br />

              <fieldset>

<form class="form-horizontal" action="{{ actionsubmit }}" method="post">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-shipping-address">Alamat Pengiriman</label>
                <div class="col-sm-10">
                  <select name="shipping_address" class="form-control">
                    <option selected value="0">Sesuai yang ditentukan pembeli</option>
                    <option value="99999999">Input Alamat Baru</option>
                    {% for address in addresses %}
                    <option value="{{ address.address_id }}">{{ address.firstname }} {{ address.lastname }}, {{ address.address_1 }}, {{ address.city }}, {{ address.country }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            <div id="sesuai">
              <div class="form-group required">
                <label class="col-sm-2 control-label">Nama Penerima</label>
                <div class="col-sm-10">
                  <input type="text" readonly value="{{ shipping_firstname }} {{ shipping_lastname }}"  class="form-control" />
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label">Alamat</label>
                <div class="col-sm-10">
                  <input type="text" readonly value="{{ shipping_address_1 }},  {{ shipping_postcode }}"  class="form-control" />
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label">Kota</label>
                <div class="col-sm-10">
                  <input type="text" readonly value="{{ shipping_zone }}, {{ shipping_city }}"  class="form-control" />
                </div>
              </div>
            </div>
            <div id="from_address" style="display:none;">
              <div class="form-group required">
                <label class="col-sm-2 control-label">Nama Penerima</label>
                <div class="col-sm-10">
                  <input type="text" readonly id="selected_nama_penerima" class="form-control" />
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label">Alamat</label>
                <div class="col-sm-10">
                  <input type="text" readonly  id="selected_alamat"  class="form-control" />
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label">Kota</label>
                <div class="col-sm-10">
                  <input type="text" readonly  id="selected_kota" class="form-control" />
                </div>
              </div>
            </div>
            <div id="input_baru" style="display:none;">
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-shipping-firstname">Nama Penerima</label>
                <div class="col-sm-3">
                  <input type="text" name="firstname" id="" placeholder="Nama Depan" id="input-shipping-firstname" class="form-control" />
                </div>
                <div class="col-sm-5">
                  <input type="text" name="lastname" placeholder="Nama Belakang" id="input-shipping-lastname" class="form-control" />
                </div>
              </div>


              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-shipping-zone">Provinsi</label>
                <div class="col-sm-10">
                  <select name="zone_id" id="input-shipping-zone" onchange="pilih_kota(this.value)" class="form-control">
                     <option value="0">Pilih Provinsi</option>
                    {% for prv in list_provinsi %}
                    <option value="{{ prv.zone_id }}">{{ prv.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

               <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-shipping-zone">Pilih Kota</label>
                <div class="col-sm-10">
                  <select name="id_kota" id="id_kota" onchange="gantikota(this.value)" class="form-control">
                    <option value="">Pilih Provinsi Dahulu</option>
                  </select>
                </div>
              </div>

              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-shipping-address-1">Alamat Detail</label>
                <div class="col-sm-10">
                  <input type="text" name="address_1"  id="input-shipping-address-1" class="form-control" />
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-shipping-postcode">Kode Pos</label>
                <div class="col-sm-10">
                  <input type="text" name="postcode"  id="input-shipping-postcode" class="form-control" />
                </div>
              </div>

            </div>

                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-shipping-method">Pilih Ekspedisi</label>
                  <div class="col-sm-10">
                      <select name="id_ongkir" id="id_ongkir" class="form-control"> 
                        {% for kurir in list_kurir %}
                        <option {{ kurir.selected }} value="{{ kurir.ongkir_id }}">{{ kurir.nama_tarif }}</option>
                        {% endfor %}
                      </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-order-status">{{ entry_order_status }}</label>
                  <div class="col-sm-10">
                    <select name="order_status_id" id="input-order-status" class="form-control">
                      {% for order_status in order_statuses %}
                      {% if order_status.order_status_id == order_status_id %}
                      <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                      {% else %}
                      <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                    <input type="hidden" name="order_id" value="{{ order_id }}" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-comment">Catatan perubahan pesanan</label>
                  <div class="col-sm-10">
                    <textarea name="comment" rows="5" id="input-comment" class="form-control">{{ comment }}</textarea>
                  </div>
                </div>


              <div class="row">
                <div class="col-sm-6 text-left">
                  <button type="button" class="btn btn-default"><i class="fa fa-arrow-left"></i> {{ button_back }}</button>
                </div>
                <div class="col-sm-6 text-right">
                   <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle"></i> {{ button_save }}</button>
                </div>
              </div>
</form>
</fieldset>


      </div>
    </div>
  </div>
  <script type="text/javascript"><!--

function gantikota(id_kota)
    {
    if(id_kota != '0')
        {
        $.ajax({
        		url: 'index.php?route=sale/order/getongkir&user_token={{ user_token }}&id_kota=' + id_kota,
        		success: function(response) {
        		 $("#id_ongkir").html(response);
        		},
        		error: function(xhr, ajaxOptions, thrownError) {
        			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        		}
        	});
        }
    }

function pilih_kota(id_zone)
    {
    if(id_zone == 0)
        {
         $("#id_kota").html('<option value="0">Pilih Provinsi Dahulu</option>');
        }
    else
        {
        $.ajax({
        		url: 'index.php?route=customer/customer/get_kota_by_zone&user_token={{ user_token }}&id_zone=' + id_zone,
        		dataType: 'json',
        		success: function(response) {
        		    var response_html = '';
        		    var jmlkota = response.length;
        		    for(i=0; i<jmlkota; i++)
        		        {
        		        response_html +='<option value="'+ response[i].kota_id +'">'+ response[i].type +' - '+ response[i].nama_kota +'</option>';
        		        }
        		 $("#id_kota").html(response_html);
        		  gantikota(response[0].kota_id);
        		},
        		error: function(xhr, ajaxOptions, thrownError) {
        			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        		}
        	});
        }
    }

function hapusItem(order_product_id)
  {
    var r = confirm("Anda yakin akan menghapus item ini ?");
    if (r == true) {
     window.location.href='index.php?route=sale/order/deleteItem&user_token={{ user_token }}&order_product_id=' + order_product_id +'&order_id={{ order_id }}';
    }
  }


$('#input-product').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id'],
						price: item['price']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('#input-product').val(item['label']);
		$('#product_id').val(item['value']);
	}
});


// Shipping Address
$('select[name=\'shipping_address\']').on('change', function() {
    if(this.value == 0)
        {
        $("#sesuai").show();
        $("#from_address").hide();
        $("#input_baru").hide();
        gantikota({{ id_kota }});
        }
    else if(this.value == 99999999)
        {
        $("#sesuai").hide();
        $("#from_address").hide();
        $("#input_baru").show();
        gantikota(0);
        }
    else
        {
        $("#sesuai").hide();
        $("#from_address").show();
        $("#input_baru").hide();
    	$.ajax({
    		url: 'index.php?route=customer/customer/address&user_token={{ user_token }}&address_id=' + this.value,
    		dataType: 'json',
    		success: function(json) {
    			$('#selected_nama_penerima').val(json['firstname'] +' '+ json['firstname']);
    			$('#selected_alamat').val(json['address_1'] +', '+ json['postcode'] );
    			$('#selected_kota').val(json['city'] +', '+ json['zone']);
    			gantikota(json['id_kota']);
    		},
    		error: function(xhr, ajaxOptions, thrownError) {
    			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    		}
    	});
    }
});


//--></script>
</div>
{{ footer }}
