<div class="row">
  <div id="filter-report" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-filter">
          </i> {{ text_filter }}
        </h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label class="control-label" for="input-date-start">{{ entry_date_start }}
          </label>
          <div class="input-group date">
            <input type="text" name="filter_date_start" value="{{ filter_date_start }}" placeholder="{{ entry_date_start }}" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default">
                <i class="fa fa-calendar">
                </i>
              </button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="input-date-end">{{ entry_date_end }}
          </label>
          <div class="input-group date">
            <input type="text" name="filter_date_end" value="{{ filter_date_end }}" placeholder="{{ entry_date_end }}" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default">
                <i class="fa fa-calendar">
                </i>
              </button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="input-status">{{ entry_status }}
          </label>
          <select name="filter_order_status_id" id="input-status" class="form-control">
            <option value="0">{{ text_all_status }}
            </option>
            {% for order_status in order_statuses %}
            {% if order_status.order_status_id == filter_order_status_id %}
            <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}
            </option>
            {% else %}
            <option value="{{ order_status.order_status_id }}">{{ order_status.name }}
            </option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="form-group text-right">
          <button type="button" id="button-filter" class="btn btn-default">
            <i class="fa fa-filter">
            </i> {{ button_filter }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9 col-md-pull-3 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-bar-chart">
          </i> {{ heading_title }}
        </h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td class="text-center">{{ column_name }}</td>
                <td class="text-center">Qty</td>
                <td class="text-center">Total Sales (TS)</td>
                <td class="text-center">Pabrik (P)</td>
                <td class="text-center">Sistem (S)</td>
                <td class="text-center">ALBalad (B)</td>
                <td class="text-center">ALBalad</td>
              </tr>
            </thead>
            <tbody>
              {% if products %}
                {% for product in products %}
                <tr>
                  <td class="text-left">{{ product.name }}</td>
                  <td class="text-right">{{ product.quantity }}</td>
                  <td class="text-right">{{ product.total_sales }}</td>
                  <td class="text-right">{{ product.pabrik }}</td>
                  <td class="text-right">{{ product.sistem }}</td>
                  <td class="text-right">{{ product.albalad }}</td>
                  <td class="text-right">{{ product.albalad_percent }}</td>
                </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td class="text-center" colspan="7">{{ text_no_results }}
                  </td>
                </tr>
              {% endif %}
            </tbody>
            <tfooter>
              <tr>
                <td class="text-right">Grand Total</td>
                <td class="text-right">{{ gt_quantity }}</td>
                <td class="text-right">{{ gt_total_sales }}</td>
                <td class="text-right">{{ gt_pabrik }}</td>
                <td class="text-right">{{ gt_sistem }}</td>
                <td class="text-right">{{ gt_albalad }}</td>
              </tr>
            </tfooter>
          </table>
        </div>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}
          </div>
          <div class="col-sm-6 text-right">{{ results }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#button-filter').on('click', function() {
    var url = '';
    var filter_date_start = $('input[name=\'filter_date_start\']').val();
    if (filter_date_start) {
      url += '&filter_date_start=' + encodeURIComponent(filter_date_start);
    }
    var filter_date_end = $('input[name=\'filter_date_end\']').val();
    if (filter_date_end) {
      url += '&filter_date_end=' + encodeURIComponent(filter_date_end);
    }
    var filter_order_status_id = $('select[name=\'filter_order_status_id\']').val();
    if (filter_order_status_id != 0) {
      url += '&filter_order_status_id=' + encodeURIComponent(filter_order_status_id);
    }
    location = 'index.php?route=report/report&code=sales_and_system_margin_summary&user_token={{ user_token }}' + url;
  });
    $('.date').datetimepicker({
    language: '{{ datepicker }}',
    pickTime: false
  });
</script>