{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li>
          <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-shopping-cart">
              </i> Stock Produk Hampir Habis
            </h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <td>Gambar</td>
                    <td>Nama Produk</td>
                    <td class="text-right">Stock</td>
                    <td class="text-right">Action</td>
                  </tr>
                </thead>
                <tbody>
                  {% for product in products %}
                    <tr>
                      <td><img src="{{ product.image }}" alt="{{ product.name }}" class="img-thumbnail"></td>
                      <td>{{ product.name }}</td>
                      <td class="text-right">{% if product.quantity <= 0 %} <span class="label label-danger">{{ product.quantity }}</span> {% elseif product.quantity <= 5 %} <span class="label label-warning">{{ product.quantity }}</span> {% else %} <span class="label label-success">{{ product.quantity }}</span> {% endif %}</td>
                      <td class="text-right">
                        <a href="{{ product.edit }}" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="View">
                          <i class="fa fa-pencil">
                          </i>
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-shopping-cart">
              </i> Pesanan Baru
            </h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <td class="text-left">Pelanggan</td>
                    <td class="text-left">Status</td>
                    <td class="text-right">Jumlah</td>
                    <td class="text-left">Tanggal Pesan</td>
                    <td class="text-right">Tindakan</td>
                  </tr>
                </thead>
                <tbody>
                  {% for order in orders %}
                  <tr>
                    <td class="text-left">{{ order.customer }}</td>
                    <td class="text-left">{{ order.order_status }}</td>
                    <td class="text-right">{{ order.total }}</td>
                    <td class="text-left">{{ order.date_added }}</td>
                    <td class="text-right">
                      <a href="{{ order.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-primary">
                        <i class="fa fa-eye"></i>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}
