{{ header }}
<style>
  .banner-wrapper{
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
    background-color: #f4f4f4;
    border-radius: 4px;
    margin-bottom: 16px;
  }
  .banner{
    display: flex;
    padding: 12px 0;
    background-color: #f4f4f4;
    border-radius: 4px;
  }
  .banner > .detail{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-left: 12px;
  }
  .banner > .detail > .description{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
  }
  .banner > .action{
    flex: none;
    padding-left: 24px;
    display: flex;
    align-items: center;
  }
  .btn{
    background-color: #40a944;
    padding: 0.5rem 2rem;
  }
  .btn:hover{
    background-color: #368f39;
  }
  .join-mitra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eaeaea;
    padding-top: 12px;
  }
  .join-mitra > span{
    font-weight: 500;
    font-size: 1.4rem;
  }
</style>
<div id="account-account" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h2>{{ text_my_account }}</h2>

      {% if customer['mitra'] == '' or customer['mitra'] != 'Reseller'  %}
        <div class="banner-wrapper">
          <div class="banner">
            <img src="image/ic_crown.png" width="24" height="24">
            <div class="detail">
              <span>{{customer['name']}}</span>
              <div class="description">
                <span>{{ customer['customer_group'] }}</span>
                <span>{{ customer['total_point']|default(0) }} Poin</span>
              </div>
            </div>
          </div>
          {% if request_kemitraan.id_status != 2 %}
            {% if request_kemitraan.id_status == 1 %}
              <div class="join-mitra">
                <span>Permintaan menjadi mitra anda sedang direview oleh Freepo</span>
                <span style="color: #FBBF24">Pending</span>
              </div>
            {% else %}
              <div class="join-mitra">
                <span>Bermitra dengan freepo</span>
                <a href="{{ upgrade_link }}" class="btn">Join Mitra</a>
              </div>
            {% endif %}
          {% endif %}
        </div>
      {% else %}
        <div class="banner-wrapper">
          <div class="banner">
            {% if mitra_process == 'complete' %}
              <img src="image/ic_crown.png" width="24" height="24">
            {% else %}
              <img src="image/ic_eror.png" width="24" height="24">
            {% endif %}
            <div class="detail">
              {% if mitra_process == 'complete' %}
                <span>{{customer['name']}}</span>
              {% elseif mitra_process == 'unclomplete' or mitra_process == 'unpaid' %}
                <span>Selesaikan pembayaran kemitraan anda.</span>
              {% elseif mitra_process == 'waiting' %}
                <span>Freepo sedang mereview permintaan anda.</span>
              {% else %}
                <span>Permintaan anda ditolak oleh freepo.</span>
              {% endif %}
              <div class="description">
                {% if mitra_process == 'complete' %}
                  <span>{{ customer['customer_group'] }}</span>
                  <span>{{ customer['total_point']|default(0) }} Poin</span>
                {% else %}
                  <span>{{ customer['nama_paket'] }}</span>
                  <span>{{ customer['price'] }}</span>
                {% endif %}
              </div>
            </div>
            {% if mitra_process == 'unclomplete' %}
            <div class="action">
              <button class="btn" onclick="cart.add('{{ customer['product_id'] }}');">Bayar</button>
            </div>
            {% endif %}
            {% if mitra_process == 'unpaid' %}
            <div class="action">
              <a href="{{ payment_confirmation_link }}" class="btn">Konfirmasi</a>
            </div>
            {% endif %}
          </div>
        </div>
      {% endif %}

      <ul class="list-unstyled">
        <li><a href="{{ upgrade_link }}" style="color: #40a944;"><strong>Menjadi Mitra</strong></a></li>
        <li><a href="{{ edit }}">{{ text_edit }}</a></li>
        <li><a href="{{ password }}">{{ text_password }}</a></li>
        <li><a href="{{ address }}">Address Books</a></li>
        <li><a href="{{ wishlist }}">Daftar Keinginan</a></li>
        <li><a href="{{ referral }}" style="color: #40a944;"><strong>Ajak Teman</strong></a></li>
        <li><a href="{{ ewallet }}" style="color: #40a944;"><strong>Dompet Freepo</strong></a></li>
      </ul>
      {% if credit_cards %}
      <h2>{{ text_credit_card }}</h2>
      <ul class="list-unstyled">
        {% for credit_card in credit_cards %}
        <li><a href="{{ credit_card.href }}">{{ credit_card.name }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
      <h2>{{ text_my_orders }}</h2>
      <ul class="list-unstyled">
        <li><a href="{{ order }}">{{ text_order }}</a></li>
        {% if reward %}
        <li><a href="{{ reward }}">{{ text_reward }}</a></li>
        {% endif %}

      </ul>

      <h2>{{ text_my_newsletter }}</h2>
      <ul class="list-unstyled">
        <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
      </ul>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}