{{ header }}
<div id="account-affiliate" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>Dompet Freepo</h1>
      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <legend>Request Payout</legend>
          <div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-amount">Amount</label>
              <div class="col-sm-10">
                <input type="text" name="amount" value="{{ amount }}" placeholder="{{ entry_amount }}" id="input-amount" class="form-control" />
                {% if error_amount %}
                <div class="text-danger">{{ error_amount }}</div>
                {% endif %}
                <p>
                  Payout akan dikirim ke bank <strong>{{ affiliate_info.bank_name }}</strong> dengan nomor rekening <strong>{{ affiliate_info.bank_account_number }}</strong> atas nama <strong>{{ affiliate_info.bank_account_name }}</strong>.
                </p>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="buttons clearfix">
          <div class="pull-right">
            <input type="submit" value="Kirim Request" class="btn btn-primary" />
          </div>
        </div>
      </form>

      <legend style="margin-top: 32px;">History Payout</legend>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Tanggal</th>
            <th>Deskripsi</th>
            <th>Status</th>
            <th class="text-right">Jumlah</th>
          </tr>
        </thead>
        {% if histories %}
          {% for history in histories %}
            <tr>
              <td>{{ history['date_added'] }}</td>
              <td>{{ history['description'] }}</td>
              <td>{{ history['status'] }}</td>
              <td class="text-right">{{ history['amount'] }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="4">No data.</td>
          </tr>
        {% endif %}
      </table>

      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script>

</script>
{{ footer }}