{{ header }}
<div id="account-affiliate" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>Dompet Freepo</h1>
			{% if affiliate_info %}
				<legend>Payment Information</legend>
        {% if payment_information_not_complete %}
          <div class="alert alert-warning">
            Lengkapi informasi pembayaran untuk bisa melakukan payout.
          </div>
        {% endif %}

        <dl class="row">
					<dt class="col-sm-3">Nama Bank</dt>
					<dd class="col-sm-9">: {{ affiliate_info['bank_name'] ?? '-' }}</dd>
					<dt class="col-sm-3">Nama Rekening</dt>
					<dd class="col-sm-9">: {{ affiliate_info['bank_account_name'] ?? '-' }}</dd>
					<dt class="col-sm-3">Nomor Rekening</dt>
					<dd class="col-sm-9">: {{ affiliate_info['bank_account_number'] ?? '-' }}</dd>
				</dl>

				<a href="{{ payment }}" class="btn btn-primary">Edit</a>
        {% if payment_information_not_complete %}
          <button class="btn btn-primary" onclick="return alert('Lengkapi informasi pembayaran untuk bisa melakukan payout.')">Request Payout</button>
        {% else %}
				  <a href="{{ payout }}" class="btn btn-primary">Request Payout</a>
        {% endif %}

        <legend style="margin-top: 32px;">Daftar Transaksi</legend>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Tanggal</th>
              <th>Deskripsi</th>
              <th class="text-right">Jumlah</th>
            </tr>
          </thead>
          {% if transactions %}
            {% for transaction in transactions %}
              <tr>
                <td>{{ transaction['date_added'] }}</td>
                <td>{{ transaction['description'] }}</td>
                <td class="text-right">{{ transaction['amount'] }}</td>
              </tr>
            {% endfor %}
              <tr>
                <th colspan="2" class="text-right">
                  Total Saldo
                </th>
                <td class="text-right">
                  {{ transaction_total }}
                </td>
              </tr>
          {% else %}
            <tr>
              <td colspan="4">No data.</td>
            </tr>
          {% endif %}
        </table>
			{% else %}
				<div class="alert alert-warning" style="text-align: left;">
					Fitur ini bisa dipakai setelah kamu punya tracking code. Kunjungi halaman <a href="{{ referral }}" class="">Referral</a> untuk menggenerate.
				</div>
			{% endif %}

      <div class="modal fade" id="shareReferral" tabindex="-1" role="dialog" aria-labelledby="shareReferralLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="shareReferralLabel">Kirim Referral via WA / SMS</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ul>
                <li>Copy tracking code</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}