{{ header }}
<style>
    .tbl tr td { padding:10px 10px 10px 0; }
    .btn { margin-bottom:15px; }
</style>
<div id="account-edit" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h2>Konfirmasi Pembayaran</h2>
      <p>Telah ditransfer senilai <b style="font-size:15px;">{{ nominal }}</b><br>
      Ke nomor Rekening : </p> 
      <table class="">
        <tr>
          <td width="140">Nama Bank</td><td> : Bank Syariah Mandiri</td>
        </tr> 
        <tr> 
          <td>Kode Bank</td><td> : (451)</td>
          </tr> 
        <tr>
          <td>No Rekening</td><td> : 711.711.3967</td>
          </tr> 
        <tr>
          <td>Nama Rekening</td><td> : Legisan M.Ag</td>
        </tr>  
        </table><br> 
        <p><b>Dari</b></p>
        <form action="{{ kirim }}" method="post"  class="form-horizontal">
        <table width="100%" class="tbl">
        <tr>
          <td width="140">Nama Bank</td><td> <input type="text" name="nama_bank"  placeholder="Bank Anda" required="required" class="form-control" /></td>
        </tr>  
          <td>Nama Rekening</td><td> <input type="text" name="nama_rekening"  placeholder="Nama Rekening Anda" required="required" class="form-control" /></td>
          </tr> 
        <tr>
          <td>Tanggal Transfer</td><td> <input type="date" name="tgl_transfer"  value="{{ today }}" required="required"  class="form-control" /></td>
        </tr>  
        <tr>
          <td>Nominal Transfer</td><td> <input type="text" name="nominal"  value="{{ nominal }}" required="required" readonly class="form-control" /></td>
        </tr>  
        </table>
        <br>
      
        
        <div class="buttons clearfix">
          <div class="pull-left">
              <input type="submit" value="Kirim Konfirmasi" class="btn btn-primary" />
              
              
          </div>
        </div>
      </form>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div> 
</script>
{{ footer }}
