{{ header }}
<style>
  .tooltip {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  #share-referral{
    position: relative;
  }

  #share-referral:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
</style>
<div id="account-affiliate" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>Ajak Teman</h1>
			{% if affiliate_info %}
				<legend>Tracking Code</legend>
				<dl class="row">
					<dt class="col-sm-3">Kode Tracking</dt>
					<dd class="col-sm-9">
						<p>{{ affiliate_info['tracking'] }}</p>
						<p><textarea type="text" id="tracking-code" class="form-control" rows="6">{{ message }}</textarea>
					</dd>
				</dl>
				<a href="{{ mail }}" class="btn btn-primary">Kirim Referral lewat email</a>
        <button type="button" id="share-referral" class="btn btn-primary" data-toggle="modal" data-target="#shareReferral">
          <span class="tooltip">Copy to clipboard</span>
          Kirim Referral via WA / SMS
        </button>

        <legend style="margin-top: 32px;">Daftar Referral</legend>
        <table class="table">
          <thead>
            <tr>
              <th>No</th>
              <th>Nama</th>
              <th>Email</th>
              <th>Join At</th>
              <th>Last Order</th>
              <th>Action</th>
            </tr>
          </thead>
          {% if referrals %}
            {% for referral in referrals %}
              <tr>
                <td>{{ referral['no'] }}</td>
                <td>
                  <div style="color: #1F2937">{{ referral['name'] }}</div>
                  <div style="color: #6B7280;">{{ referral['customer_group'] }}</div>
                </td>
                <td>{{ referral['email'] }}</td>
                <td>{{ referral['date_added'] }}</td>
                <td>{{ referral['last_order'] }}</td>
                <td>
                  {% if referral['invite'] %}
                    <a href="{{ referral['invite'] }}" class="btn btn-primary" style="padding: 0.5rem 1rem; font-size: 14px;">Invite</a>
                  {% else %}
                    {{ referral['last_invitation'] }}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="4">No data.</td>
            </tr>
          {% endif %}
        </table>
			{% else %}
				<div class="well">
					Dapatkan penghasilan tambahan melalui kemitraan afiliasi dengan freepo.id
				</div>
				<a href="{{ generate_referral }}" class="btn btn-primary">Generate Kode Referral</a>
			{% endif %}

      <div class="modal fade" id="shareReferral" tabindex="-1" role="dialog" aria-labelledby="shareReferralLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="shareReferralLabel">Kirim Referral via WA / SMS</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ul>
                <li>Code referral/ajak teman kamu sudah tercopy: <br><div style="overflow-wrap: break-word; font-size: 12px; background-color: rgba(229, 231, 235, 1); padding: 6px; border-radius: 4px;" id="text-message">Kode Tracking</div></li>
                <li style="margin-top: 8px;"><strong>Paste</strong> code tersebut ke Telegram, WA, SMS atau aplikasi lainnya dan kirim ke temanmu sebanyak banyaknya.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script>
  $('#share-referral').click(function (e) {
    e.preventDefault();
    var copyText = $('#tracking-code');
    copyText.select();
    document.execCommand("copy");

    $('.tooltip').html("Copied!");
    $('#text-message').html($('#tracking-code').html());
  });

  $('#share-referral').mouseout(function () {
    $('.tooltip').html('Copy to clipboard');
  });
</script>
{{ footer }}