{{ header }}
<style>
  .mitra-item{
    display: flex;
  }
  .mitra-item > .price{
    color: var(--link-hover-color);
    margin: 0;
    font-size: 1.2rem;
    flex: none;
  }
  .mitra-item > .detail{
    display: flex;
    flex: 1 1 auto;
  }
  .mitra-item > .detail > input{
    margin-top: 6px;
  }
  .mitra-item > .detail > .description{
    padding-left: 6px;
  }
  .mitra-item > .detail > .description > .benefit{
    margin-left: 16px;
    padding-left: 0;
    font-size: 11px;
    color: rgba(107, 114, 128, 1);
    line-height: 1.8rem;
  }
</style>
<div id="account-register" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <p>{{ text_account_already }}</p>
      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset id="account">
          <legend>{{ text_your_details }}</legend>
          <div class="form-group required" style="display: {% if customer_groups|length > 1 %} block {% else %} none {% endif %};">
            <label class="col-sm-2 control-label">{{ entry_customer_group }}</label>
            <div class="col-sm-10">{% for customer_group in customer_groups %}
              {% if customer_group.customer_group_id == customer_group_id %}
              <div class="radio">
                <label>
                  <input type="radio" name="customer_group_id" value="{{ customer_group.customer_group_id }}" checked="checked" />
                  {{ customer_group.name }}</label>
              </div>
              {% else %}
              <div class="radio">
                <label>
                  <input type="radio" name="customer_group_id" value="{{ customer_group.customer_group_id }}" />
                  {{ customer_group.name }}</label>
              </div>
              {% endif %}
              {% endfor %}</div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-firstname">{{ entry_firstname }}</label>
            <div class="col-sm-10">
              <input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control" />
              {% if error_firstname %}
              <div class="text-danger">{{ error_firstname }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-lastname">{{ entry_lastname }}</label>
            <div class="col-sm-10">
              <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control" />
              {% if error_lastname %}
              <div class="text-danger">{{ error_lastname }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label>
            <div class="col-sm-10">
              <input type="email" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
              {% if error_email %}
              <div class="text-danger">{{ error_email }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-telephone">{{ entry_telephone }}</label>
            <div class="col-sm-10">
              <input type="tel" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control" />
              {% if error_telephone %}
              <div class="text-danger">{{ error_telephone }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-referral">Referral (email)</label>
            <div class="col-sm-10">
              <input type="text" name="referral" value="{{ referral }}" placeholder="Referral (email)" id="input-referral" class="form-control" {% if cookie_referral %} readonly {% endif %} />
              {% if error_referral %}
              <div class="text-danger">{{ error_referral }}</div>
              {% endif %} </div>
          </div>
          {% for custom_field in custom_fields %}
          {% if custom_field.type == 'select' %}
          <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="col-sm-2 control-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
            <div class="col-sm-10">
              <select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control">
                <option value="">{{ text_select }}</option>
                {% for custom_field_value in custom_field.custom_field_value %}
                {% if register_custom_field[custom_field.location][custom_field.custom_field_id] and custom_field_value.custom_field_value_id == register_custom_field[custom_field.custom_field_id] %}
                <option value="{{ custom_field_value.custom_field_value_id }}" selected="selected">{{ custom_field_value.name }}</option>
                {% else %}
                <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %}</div>
          </div>
          {% endif %}
          {% if custom_field.type == 'radio' %}
          <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="col-sm-2 control-label">{{ custom_field.name }}</label>
            <div class="col-sm-10">
              <div> {% for custom_field_value in custom_field.custom_field_value %}
                <div class="radio">{% if register_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == register_custom_field[custom_field.custom_field_id] %}
                  <label>
                    <input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" checked="checked" />
                    {{ custom_field_value.name }}</label>
                  {% else %}
                  <label>
                    <input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" />
                    {{ custom_field_value.name }}</label>
                  {% endif %} </div>
                {% endfor %}</div>
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %}</div>
          </div>
          {% endif %}
          {% if custom_field.type == 'checkbox' %}
          <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="col-sm-2 control-label">{{ custom_field.name }}</label>
            <div class="col-sm-10">
              <div> {% for custom_field_value in custom_field.custom_field_value %}
                <div class="checkbox">{% if register_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id in register_custom_field[custom_field.custom_field_id] %}
                  <label>
                    <input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" checked="checked" />
                    {{ custom_field_value.name }}</label>
                  {% else %}
                  <label>
                    <input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" />
                    {{ custom_field_value.name }}</label>
                  {% endif %} </div>
                {% endfor %} </div>
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %} </div>
          </div>
          {% endif %}
          {% if custom_field.type == 'text' %}
          <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="col-sm-2 control-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
            <div class="col-sm-10">
              <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %} </div>
          </div>
          {% endif %}
          {% if custom_field.type == 'textarea' %}
          <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="col-sm-2 control-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
            <div class="col-sm-10">
              <textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control">{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}</textarea>
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %} </div>
          </div>
          {% endif %}
          {% if custom_field.type == 'file' %}
          <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="col-sm-2 control-label">{{ custom_field.name }}</label>
            <div class="col-sm-10">
              <button type="button" id="button-custom-field{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default"><i class="fa fa-upload"></i> {{ button_upload }}</button>
              <input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}  {{ register_custom_field[custom_field.custom_field_id] }} {% endif %}" />
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %}</div>
          </div>
          {% endif %}
          {% if custom_field.type == 'date' %}
          <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="col-sm-2 control-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
            <div class="col-sm-10">
              <div class="input-group date">
                <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %} </div>
          </div>
          {% endif %}
          {% if custom_field.type == 'time' %}
          <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="col-sm-2 control-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
            <div class="col-sm-10">
              <div class="input-group time">
                <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" data-date-format="HH:mm" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %} </div>
          </div>
          {% endif %}
          {% if custom_field.type == 'time' %}
          <div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="col-sm-2 control-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
            <div class="col-sm-10">
              <div class="input-group datetime">
                <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD HH:mm" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %} </div>
          </div>
          {% endif %}
          {% endfor %}
        </fieldset>
        <fieldset>
          <legend>{{ text_your_password }}</legend>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-password">{{ entry_password }}</label>
            <div class="col-sm-10">
              <div class="input-group show_hide_password">
                <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" style="height: 34px;" />
                <div class="input-group-addon" style="background-color: #e9ecef; border: 1px solid rgba(0,0,0,.15); border-radius: 0 .25rem .25rem 0; border-left: 0;">
                  <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                </div>
              </div>
              {% if error_password %}
              <div class="text-danger">{{ error_password }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-confirm">{{ entry_confirm }}</label>
            <div class="col-sm-10">
              <div class="input-group show_hide_password">
                <input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control" style="height: 34px;" />
                <div class="input-group-addon" style="background-color: #e9ecef; border: 1px solid rgba(0,0,0,.15); border-radius: 0 .25rem .25rem 0; border-left: 0;">
                  <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                </div>
              </div>
              {% if error_confirm %}
              <div class="text-danger">{{ error_confirm }}</div>
              {% endif %} </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Bermitra dengan FreePo</legend>
          <div class="form-group">
            <label class="col-sm-12">Dengan bermitra bersama kami, maka anda akan mendapatkan banyak benefit. <br>Lalu jenis kemitraan apa saja yang tersedia di FreePo dan Benefit apa sajakah yang bisa didapat ? <br><a target="_blank" style="font-weight:bold;text-decoration:underline;" href="index.php?route=information/information&information_id=4">Silahkan pelajari lebih lanjut disini</a></label>
            <label class="col-sm-12">Apakah anda berminat bermitra dengan kami ?</label>
            <div class="col-sm-12">
              <label class="radio-inline">
                <input type="radio" name="bermitra" onclick="showMitraForm()" value="1"  {% if bermitra == 1 %} checked {% endif %}/>
                {{ text_yes }}
              </label>
              <label class="radio-inline">
                <input type="radio" name="bermitra"  onclick="hideMitraForm()" value="0" {% if bermitra == 0 %} checked {% endif %}/>
                {{ text_no }}, saya hanya ingin bergabung menjadi member biasa.
              </label>
             </div>
          </div>
        </fieldset>
        <div id="jenis_mitra" style="display:none;" >
          <fieldset >
            <legend>Jenis Mitra</legend>
            <div class="form-group">
              <label class="col-sm-3 ">Jenis mitra</label>
              <div class="col-sm-9">
                  <label class="col-sm-12">
                    <input type="radio" name="level_mitra" value="2" onclick="selectReseller()" {% if level_mitra == 2 %} checked {% endif %}/> Reseller
                  </label>
                  <label class="col-sm-12">
                    <input type="radio" name="level_mitra" value="4" onclick="selectStockistVirtual()" {% if level_mitra == 4 %} checked {% endif %}/> Stockist Virtual
                  </label>
                  <label class="col-sm-12">
                    <input type="radio" name="level_mitra" value="3" onclick="selectStockist()" {% if level_mitra == 3 %} checked {% endif %}/> Stockist
                  </label>
                  <label class="col-sm-12">
                    <input type="radio" name="level_mitra" value="6" onclick="selectInvestor()" {% if level_mitra == 6 %} checked {% endif %}/> Investor
                  </label>
                  {% if error_level_mitra %}
                  <div class="text-danger col-sm-12">{{ error_level_mitra }}</div>
                  {% endif %}
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 ">Pilih Paket Kemitraan</label>
              <div class="col-sm-9">
                  <label style="display: {% if level_mitra == 2 %} block {% else %} none {% endif %}" class="col-sm-12 paket-reseller">
                    <div class="mitra-item">
                      <div class="detail">
                        <input type="radio" name="paket_reseller" value="2" {% if paket_reseller == 2 %} checked {% endif %} />
                        <div class="description">
                          <div>Reseller : Paket 1, Product Only</div>
                          <ul class="benefit">
                            <li>
                              Mendapat margin usaha up to 20%
                            </li>
                            <li>
                              Mendapat passive income dari downline
                            </li>
                            <li>
                              Mendapat bimbingan penjualan GRATIS
                            </li>
                            <li>
                              Dibantu sales kit (video, landing page, poster)
                            </li>
                            <li>
                              Mendapat bantuan aplikasi penjualan
                            </li>
                            <li>
                              Berpeluang mendapat hadiah freepo of the month
                            </li>
                            <li>
                              Reward tahunan
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="price">Rp 2.500.000</div>
                    </div>
                  </label>
                  <label style="display: {% if level_mitra == 2 %} block {% else %} none {% endif %}" class="col-sm-12 paket-reseller">
                    <div class="mitra-item">
                      <div class="detail">
                        <input type="radio" name="paket_reseller" value="3" {% if paket_reseller == 3 %} checked {% endif %} />
                        <div class="description">
                          <div>Reseller : Paket 2, Product dan Freezer 100L</div>
                          <ul class="benefit">
                            <li>
                              Mendapat margin usaha up to 20%
                            </li>
                            <li>
                              Mendapat passive income dari downline
                            </li>
                            <li>
                              Mendapat bimbingan penjualan GRATIS
                            </li>
                            <li>
                              Dibantu sales kit (video, landing page, poster)
                            </li>
                            <li>
                              Mendapat bantuan aplikasi penjualan
                            </li>
                            <li>
                              Berpeluang mendapat hadiah freepo of the month
                            </li>
                            <li>
                              Reward tahunan
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="price">Rp 5.000.000</div>
                    </div>
                  </label>
                  <label style="display: {% if level_mitra == 2 %} block {% else %} none {% endif %}" class="col-sm-12 paket-reseller">
                    <div class="mitra-item">
                      <div class="detail">
                        <input type="radio" name="paket_reseller" value="4" {% if paket_reseller == 4 %} checked {% endif %} />
                        <div class="description">
                          <div>Reseller : Paket 3, Product dan Freezer 220L</div>
                          <ul class="benefit">
                            <li>
                              Mendapat margin usaha up to 20%
                            </li>
                            <li>
                              Mendapat passive income dari downline
                            </li>
                            <li>
                              Mendapat bimbingan penjualan GRATIS
                            </li>
                            <li>
                              Dibantu sales kit (video, landing page, poster)
                            </li>
                            <li>
                              Mendapat bantuan aplikasi penjualan
                            </li>
                            <li>
                              Berpeluang mendapat hadiah freepo of the month
                            </li>
                            <li>
                              Reward tahunan
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="price">Rp 7.340.000</div>
                    </div>
                  </label>
                  <label style="display: {% if level_mitra == 2 %} block {% else %} none {% endif %}" class="col-sm-12 paket-reseller">
                    <div class="mitra-item">
                      <div class="detail">
                        <input type="radio" name="paket_reseller" value="5" {% if paket_reseller == 5 %} checked {% endif %} />
                        <div class="description">
                          <div>Reseller : Paket 4, Product dan Freezer 310L</div>
                          <ul class="benefit">
                            <li>
                              Mendapat margin usaha up to 20%
                            </li>
                            <li>
                              Mendapat passive income dari downline
                            </li>
                            <li>
                              Mendapat bimbingan penjualan GRATIS
                            </li>
                            <li>
                              Dibantu sales kit (video, landing page, poster)
                            </li>
                            <li>
                              Mendapat bantuan aplikasi penjualan
                            </li>
                            <li>
                              Berpeluang mendapat hadiah freepo of the month
                            </li>
                            <li>
                              Reward tahunan
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="price">Rp 9.070.000</div>
                    </div>
                  </label>
                  <label style="display: {% if level_mitra == 2 %} block {% else %} none {% endif %}" class="col-sm-12 paket-reseller">
                    <div class="mitra-item">
                      <div class="detail">
                        <input type="radio" name="paket_reseller" value="6" {% if paket_reseller == 6 %} checked {% endif %} />
                        <div class="description">
                          <div>Reseller : Paket 5, Product dan Freezer 600L</div>
                          <ul class="benefit">
                            <li>
                              Mendapat margin usaha up to 20%
                            </li>
                            <li>
                              Mendapat passive income dari downline
                            </li>
                            <li>
                              Mendapat bimbingan penjualan GRATIS
                            </li>
                            <li>
                              Dibantu sales kit (video, landing page, poster)
                            </li>
                            <li>
                              Mendapat bantuan aplikasi penjualan
                            </li>
                            <li>
                              Berpeluang mendapat hadiah freepo of the month
                            </li>
                            <li>
                              Reward tahunan
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="price">Rp 17.400.000</div>
                    </div>
                  </label>

                  <label style="display: {% if level_mitra == 4 %} block {% else %} none {% endif %}" class="col-sm-12 paket-stockist-virtual">
                    <input type="radio" name="paket_stockist_virtual" value="1" {% if paket_stockist_virtual == 1 %} checked {% endif %} /> Paket Stockist Virtual
                  </label>

                  <label style="display: {% if level_mitra == 3 %} block {% else %} none {% endif %}" class="col-sm-12 paket-stockist">
                    <div class="mitra-item">
                      <div class="detail">
                        <input type="radio" name="paket_stockist" value="7" {% if paket_stockist == 7 %} checked {% endif %} />
                        <div class="description">
                          <div>Stockist : Paket Product, freezer 6x600L & mini car cold box</div>
                        </div>
                      </div>
                      <div class="price">Rp 150.000.000</div>
                    </div>
                  </label>

                  <label style="display: {% if level_mitra == 6 %} block {% else %} none {% endif %}" class="col-sm-12 paket-investor">
                    <input type="radio" name="paket_investor" value="8" {% if paket_investor == 8 %} checked {% endif %} /> Paket Investor
                  </label>

                  {% if error_paket_reseller %}
                    <div class="text-danger col-sm-12">{{ error_paket_reseller }}</div>
                  {% endif %}
                  {% if error_paket_stockist_virtual %}
                    <div class="text-danger col-sm-12">{{ error_paket_stockist_virtual }}</div>
                  {% endif %}
                  {% if error_paket_stockist %}
                    <div class="text-danger col-sm-12">{{ error_paket_stockist }}</div>
                  {% endif %}
                  {% if error_paket_investor %}
                    <div class="text-danger col-sm-12">{{ error_paket_investor }}</div>
                  {% endif %}
              </div>
            </div>
          </fieldset>
          <fieldset >
            <legend>Tempat Usaha</legend>
            <div class="form-group required">
                <label class="col-sm-3 control-label">Nama Tempat Usaha</label>
                <div class="col-sm-9">
                <input type="text" name="nama_tempat_usaha" value="{{nama_tempat_usaha}}" class="form-control" />
                  {% if error_nama_tempat_usaha %}
                  <div class="text-danger">{{ error_nama_tempat_usaha }}</div>
                  {% endif %}
                </div>
            </div>
            <div class="form-group required">
                <label class="col-sm-3 control-label">Alamat Tempat Usaha</label>
                <div class="col-sm-9">
                  <textarea name="alamat_tempat_usaha" id="alamat_tempat_usaha" rows="3" class="form-control">{{alamat_tempat_usaha}}</textarea>
                  {% if error_alamat_tempat_usaha %}
                  <div class="text-danger">{{ error_alamat_tempat_usaha }}</div>
                  {% endif %}
                </div>
            </div>
            <div class="form-group required">
                <label class="col-sm-3 control-label">Provinsi</label>
                <div class="col-sm-9">
                  <select name="provinsi" id="provinsi" class="form-control" onchange="getKabupaten(this.value)">
                    <option value="">-- Select Provinsi --</option>
                    {% for province in list_province %}
                      <option value="{{ province['zone_id'] }}" {% if provinsi == province['zone_id'] %} selected {% endif %}>{{ province['name'] }}</option>
                    {% endfor %}
                  </select>
                  {% if error_provinsi %}
                  <div class="text-danger">{{ error_provinsi }}</div>
                  {% endif %}
                </div>
            </div>
            <div class="form-group required">
                <label class="col-sm-3 control-label">Kota/Kabupaten</label>
                <div class="col-sm-9">
                  <select name="kota" id="kota" class="form-control">
                    <option value="">-- Select Kota / Kabupaten --</option>
                  </select>
                  {% if error_kota %}
                  <div class="text-danger">{{ error_kota }}</div>
                  {% endif %}
                </div>
            </div>
            <div class="form-group required">
                <label class="col-sm-3 control-label">Kecamatan</label>
                <div class="col-sm-9">
                  <input type="text" name="kecamatan" value="{{kecamatan}}" class="form-control" />
                  {% if error_kecamatan %}
                  <div class="text-danger">{{ error_kecamatan }}</div>
                  {% endif %}
                </div>
            </div>
            <div class="form-group required">
                <label class="col-sm-3 control-label">Kelurahan</label>
                <div class="col-sm-9">
                  <input type="text" name="kelurahan" value="{{kelurahan}}" class="form-control" />
                  {% if error_kelurahan %}
                  <div class="text-danger">{{ error_kelurahan }}</div>
                  {% endif %}
                </div>
            </div>
          </fieldset>
        </div>
        {{ captcha }}
        {% if text_agree %}
        <div class="buttons">
          <div class="">{{ text_agree }}
            {% if agree %}
            <input type="checkbox" name="agree" value="1" checked="checked" />
            {% else %}
            <input type="checkbox" name="agree" value="1" checked="checked" />
            {% endif %}
            &nbsp;<br><br>
            <div class="pull-right">
            <input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
          </div>

          </div>
        </div>
        {% else %}
        <div class="buttons">
          <div class="pull-right">
            <input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
          </div>
        </div>
        {% endif %}
      </form>
      <br><br>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{% if bermitra == 1 %}
  <script>
    $("#jenis_mitra").show();
  </script>
{% endif %}

<script type="text/javascript">
function showMitraForm(){
    $("#jenis_mitra").show();
}

function selectReseller(){
    $(".paket-reseller").show();
    $(".paket-stockist-virtual").hide();
    $(".paket-stockist").hide();
    $(".paket-investor").hide();
}

function selectStockistVirtual(){
    $(".paket-reseller").hide();
    $(".paket-stockist-virtual").show();
    $(".paket-stockist").hide();
    $(".paket-investor").hide();
}

function selectStockist(){
    $(".paket-reseller").hide();
    $(".paket-stockist-virtual").hide();
    $(".paket-stockist").show();
    $(".paket-investor").hide();
}

function selectInvestor(){
    $(".paket-reseller").hide();
    $(".paket-stockist-virtual").hide();
    $(".paket-stockist").hide();
    $(".paket-investor").show();
}

function hideMitraForm(){
    $("#jenis_mitra").hide();
}

{% if provinsi != '' %}
  getKabupaten({{ provinsi }}, true);
{% endif %}

function getKabupaten(id_zone, once = false){
  $.ajax({
    type: "post",
    url: "{{ url_get_kabupaten }}",
    data: {id_zone: id_zone},
    success: function(result){
      $("#kota").html('<option value="" selected>-- Select Kota / Kabupaten --</option>'+result);
      {% if kota != '' and once %}
        $("#kota").val({{ kota }});
      {% endif %}
    },
    error: function (xhr, ajaxOptions, thrownError){
      alert('Gagal mendapatkan Data kota');
    }
  });
}
<!--
// Sort the custom fields
$('#account .form-group[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#account .form-group').length) {
		$('#account .form-group').eq($(this).attr('data-sort')).before(this);
	}

	if ($(this).attr('data-sort') > $('#account .form-group').length) {
		$('#account .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') == $('#account .form-group').length) {
		$('#account .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') < -$('#account .form-group').length) {
		$('#account .form-group:first').before(this);
	}
});

$('input[name=\'customer_group_id\']').on('change', function() {
	$.ajax({
		url: 'index.php?route=account/register/customfield&customer_group_id=' + this.value,
		dataType: 'json',
		success: function(json) {
			$('.custom-field').hide();
			$('.custom-field').removeClass('required');

			for (i = 0; i < json.length; i++) {
				custom_field = json[i];

				$('#custom-field' + custom_field['custom_field_id']).show();

				if (custom_field['required']) {
					$('#custom-field' + custom_field['custom_field_id']).addClass('required');
				}
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('input[name=\'customer_group_id\']:checked').trigger('change');
//--></script>
<script type="text/javascript"><!--
$('button[id^=\'button-custom-field\']').on('click', function() {
	var element = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(element).button('loading');
				},
				complete: function() {
					$(element).button('reset');
				},
				success: function(json) {
					$(element).parent().find('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(element).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script>
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});
//--></script>
<script>
$(document).ready(function() {
    $(".show_hide_password a").on('click', function(event) {
        event.preventDefault();
        var passwordField = $(this).parent().siblings('input');
        var labelEye = $(this).children('i');

        if(passwordField.attr("type") == "text"){
            passwordField.attr('type', 'password');
            labelEye.addClass( "fa-eye-slash" );
            labelEye.removeClass( "fa-eye" );
        }else if(passwordField.attr("type") == "password"){
            passwordField.attr('type', 'text');
            labelEye.removeClass( "fa-eye-slash" );
            labelEye.addClass( "fa-eye" );
        }
    });
});
</script>
{{ footer }}
