{{ header }}
<style>
  .mitra-item{
    display: flex;
  }
  .mitra-item > .price{
    color: var(--link-hover-color);
    margin: 0;
    font-size: 1.2rem;
    flex: none;
  }
  .mitra-item > .detail{
    display: flex;
    flex: 1 1 auto;
  }
  .mitra-item > .detail > input{
    margin-top: 6px;
  }
  .mitra-item > .detail > .description{
    padding-left: 6px;
  }
  .mitra-item > .detail > .description > .benefit{
    margin-left: 16px;
    padding-left: 0;
    font-size: 11px;
    color: rgba(107, 114, 128, 1);
    line-height: 1.8rem;
  }
</style>
<div id="account-edit" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>

      {% if request_kemitraan.id_status == 1 %}
        <div class="alert alert-danger alert-dismissible">
          <i class="fa fa-exclamation-circle"></i>
          Permintaan Upgrade Akun anda sedang direview oleh freepo
        </div>
      {% endif %}

      {% if request_kemitraan %}
        <legend>Jenis Mitra</legend>
        <dl class="row">
          <dt class="col-sm-3">Jenis mitra</dt>
          <dd class="col-sm-9">{{ request_kemitraan.mitra }}</dd>
          <dt class="col-sm-3">Paket Kemitraan</dt>
          <dd class="col-sm-9">{{ request_kemitraan.nama_paket }}</dd>
        </dl>

        <legend>Tempat Usaha</legend>
        <dl class="row">
          <dt class="col-sm-3">Nama Tempat Usaha</dt>
          <dd class="col-sm-9">{{ request_kemitraan.nama_tempat_usaha }}</dd>
          <dt class="col-sm-3">Alamat Tempat Usaha</dt>
          <dd class="col-sm-9">{{ request_kemitraan.alamat_tempat_usaha }}</dd>
          <dt class="col-sm-3">Kelurahan</dt>
          <dd class="col-sm-9">{{ request_kemitraan.kelurahan }}</dd>
          <dt class="col-sm-3">Kecamatan</dt>
          <dd class="col-sm-9">{{ request_kemitraan.kecamatan }}</dd>
          <dt class="col-sm-3">Kota/Kabupaten</dt>
          <dd class="col-sm-9">{{ request_kemitraan.nama_kota }}</dd>
          <dt class="col-sm-3">Provinsi</dt>
          <dd class="col-sm-9">{{ request_kemitraan.nama_provinsi }}</dd>
        </dl>
      {% else %}
        <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
          <fieldset >
            <legend>Jenis Mitra</legend>
            <div class="form-group">
              <label class="col-sm-3 ">Jenis mitra</label>
              <div class="col-sm-9">
                  <label class="col-sm-12">
                    <input type="radio" name="level_mitra" value="2" onclick="selectReseller()" {% if level_mitra == 2 %} checked {% endif %}/> Reseller
                  </label>
                  <label class="col-sm-12">
                    <input type="radio" name="level_mitra" value="4" onclick="selectStockistVirtual()" {% if level_mitra == 4 %} checked {% endif %}/> Stockist Virtual
                  </label>
                  <label class="col-sm-12">
                    <input type="radio" name="level_mitra" value="3" onclick="selectStockist()" {% if level_mitra == 3 %} checked {% endif %}/> Stockist
                  </label>
                  <label class="col-sm-12">
                    <input type="radio" name="level_mitra" value="6" onclick="selectInvestor()" {% if level_mitra == 6 %} checked {% endif %}/> Investor
                  </label>
                  {% if error_level_mitra %}
                  <div class="text-danger col-sm-12">{{ error_level_mitra }}</div>
                  {% endif %}
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 ">Pilih Paket Kemitraan</label>
              <div class="col-sm-9">
                  <label style="display: {% if level_mitra == 2 %} block {% else %} none {% endif %}" class="col-sm-12 paket-reseller">
                    <div class="mitra-item">
                      <div class="detail">
                        <input type="radio" name="paket_reseller" value="2" {% if paket_reseller == 2 %} checked {% endif %} />
                        <div class="description">
                          <div>Reseller : Paket 1, Product Only</div>
                          <ul class="benefit">
                            <li>
                              Mendapat margin usaha up to 20%
                            </li>
                            <li>
                              Mendapat passive income dari downline
                            </li>
                            <li>
                              Mendapat bimbingan penjualan GRATIS
                            </li>
                            <li>
                              Dibantu sales kit (video, landing page, poster)
                            </li>
                            <li>
                              Mendapat bantuan aplikasi penjualan
                            </li>
                            <li>
                              Berpeluang mendapat hadiah freepo of the month
                            </li>
                            <li>
                              Reward tahunan
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="price">Rp 2.500.000</div>
                    </div>
                  </label>
                  <label style="display: {% if level_mitra == 2 %} block {% else %} none {% endif %}" class="col-sm-12 paket-reseller">
                    <div class="mitra-item">
                      <div class="detail">
                        <input type="radio" name="paket_reseller" value="3" {% if paket_reseller == 3 %} checked {% endif %} />
                        <div class="description">
                          <div>Reseller : Paket 2, Product dan Freezer 100L</div>
                          <ul class="benefit">
                            <li>
                              Mendapat margin usaha up to 20%
                            </li>
                            <li>
                              Mendapat passive income dari downline
                            </li>
                            <li>
                              Mendapat bimbingan penjualan GRATIS
                            </li>
                            <li>
                              Dibantu sales kit (video, landing page, poster)
                            </li>
                            <li>
                              Mendapat bantuan aplikasi penjualan
                            </li>
                            <li>
                              Berpeluang mendapat hadiah freepo of the month
                            </li>
                            <li>
                              Reward tahunan
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="price">Rp 5.000.000</div>
                    </div>
                  </label>
                  <label style="display: {% if level_mitra == 2 %} block {% else %} none {% endif %}" class="col-sm-12 paket-reseller">
                    <div class="mitra-item">
                      <div class="detail">
                        <input type="radio" name="paket_reseller" value="4" {% if paket_reseller == 4 %} checked {% endif %} />
                        <div class="description">
                          <div>Reseller : Paket 3, Product dan Freezer 220L</div>
                          <ul class="benefit">
                            <li>
                              Mendapat margin usaha up to 20%
                            </li>
                            <li>
                              Mendapat passive income dari downline
                            </li>
                            <li>
                              Mendapat bimbingan penjualan GRATIS
                            </li>
                            <li>
                              Dibantu sales kit (video, landing page, poster)
                            </li>
                            <li>
                              Mendapat bantuan aplikasi penjualan
                            </li>
                            <li>
                              Berpeluang mendapat hadiah freepo of the month
                            </li>
                            <li>
                              Reward tahunan
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="price">Rp 7.340.000</div>
                    </div>
                  </label>
                  <label style="display: {% if level_mitra == 2 %} block {% else %} none {% endif %}" class="col-sm-12 paket-reseller">
                    <div class="mitra-item">
                      <div class="detail">
                        <input type="radio" name="paket_reseller" value="5" {% if paket_reseller == 5 %} checked {% endif %} />
                        <div class="description">
                          <div>Reseller : Paket 4, Product dan Freezer 310L</div>
                          <ul class="benefit">
                            <li>
                              Mendapat margin usaha up to 20%
                            </li>
                            <li>
                              Mendapat passive income dari downline
                            </li>
                            <li>
                              Mendapat bimbingan penjualan GRATIS
                            </li>
                            <li>
                              Dibantu sales kit (video, landing page, poster)
                            </li>
                            <li>
                              Mendapat bantuan aplikasi penjualan
                            </li>
                            <li>
                              Berpeluang mendapat hadiah freepo of the month
                            </li>
                            <li>
                              Reward tahunan
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="price">Rp 9.070.000</div>
                    </div>
                  </label>
                  <label style="display: {% if level_mitra == 2 %} block {% else %} none {% endif %}" class="col-sm-12 paket-reseller">
                    <div class="mitra-item">
                      <div class="detail">
                        <input type="radio" name="paket_reseller" value="6" {% if paket_reseller == 6 %} checked {% endif %} />
                        <div class="description">
                          <div>Reseller : Paket 5, Product dan Freezer 600L</div>
                          <ul class="benefit">
                            <li>
                              Mendapat margin usaha up to 20%
                            </li>
                            <li>
                              Mendapat passive income dari downline
                            </li>
                            <li>
                              Mendapat bimbingan penjualan GRATIS
                            </li>
                            <li>
                              Dibantu sales kit (video, landing page, poster)
                            </li>
                            <li>
                              Mendapat bantuan aplikasi penjualan
                            </li>
                            <li>
                              Berpeluang mendapat hadiah freepo of the month
                            </li>
                            <li>
                              Reward tahunan
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="price">Rp 17.400.000</div>
                    </div>
                  </label>

                  <label style="display: {% if level_mitra == 4 %} block {% else %} none {% endif %}" class="col-sm-12 paket-stockist-virtual">
                    <input type="radio" name="paket_stockist_virtual" value="1" {% if paket_stockist_virtual == 1 %} checked {% endif %} /> Paket Stockist Virtual
                  </label>

                  <label style="display: {% if level_mitra == 3 %} block {% else %} none {% endif %}" class="col-sm-12 paket-stockist">
                    <div class="mitra-item">
                      <div class="detail">
                        <input type="radio" name="paket_stockist" value="7" {% if paket_stockist == 7 %} checked {% endif %} />
                        <div class="description">
                          <div>Stockist : Paket Product, freezer 6x600L & mini car cold box</div>
                        </div>
                      </div>
                      <div class="price">Rp 150.000.000</div>
                    </div>
                  </label>

                  <label style="display: {% if level_mitra == 6 %} block {% else %} none {% endif %}" class="col-sm-12 paket-investor">
                    <input type="radio" name="paket_investor" value="8" {% if paket_investor == 8 %} checked {% endif %} /> Paket Investor
                  </label>

                  {% if error_paket_reseller %}
                    <div class="text-danger col-sm-12">{{ error_paket_reseller }}</div>
                  {% endif %}
                  {% if error_paket_stockist_virtual %}
                    <div class="text-danger col-sm-12">{{ error_paket_stockist_virtual }}</div>
                  {% endif %}
                  {% if error_paket_stockist %}
                    <div class="text-danger col-sm-12">{{ error_paket_stockist }}</div>
                  {% endif %}
                  {% if error_paket_investor %}
                    <div class="text-danger col-sm-12">{{ error_paket_investor }}</div>
                  {% endif %}
              </div>
            </div>
          </fieldset>
          <fieldset >
            <legend>Tempat Usaha</legend>
            <div class="form-group required">
                <label class="col-sm-3 control-label">Nama Tempat Usaha</label>
                <div class="col-sm-9">
                <input type="text" name="nama_tempat_usaha" value="{{nama_tempat_usaha}}" class="form-control" />
                  {% if error_nama_tempat_usaha %}
                  <div class="text-danger">{{ error_nama_tempat_usaha }}</div>
                  {% endif %}
                </div>
            </div>
            <div class="form-group required">
                <label class="col-sm-3 control-label">Alamat Tempat Usaha</label>
                <div class="col-sm-9">
                  <textarea name="alamat_tempat_usaha" id="alamat_tempat_usaha" rows="3" class="form-control">{{alamat_tempat_usaha}}</textarea>
                  {% if error_alamat_tempat_usaha %}
                  <div class="text-danger">{{ error_alamat_tempat_usaha }}</div>
                  {% endif %}
                </div>
            </div>
            <div class="form-group required">
                <label class="col-sm-3 control-label">Provinsi</label>
                <div class="col-sm-9">
                  <select name="provinsi" id="provinsi" class="form-control" onchange="getKabupaten(this.value)">
                    <option value="">-- Select Provinsi --</option>
                    {% for province in list_province %}
                      <option value="{{ province['zone_id'] }}" {% if provinsi == province['zone_id'] %} selected {% endif %}>{{ province['name'] }}</option>
                    {% endfor %}
                  </select>
                  {% if error_provinsi %}
                  <div class="text-danger">{{ error_provinsi }}</div>
                  {% endif %}
                </div>
            </div>
            <div class="form-group required">
                <label class="col-sm-3 control-label">Kota/Kabupaten</label>
                <div class="col-sm-9">
                  <select name="kota" id="kota" class="form-control">
                    <option value="">-- Select Kota / Kabupaten --</option>
                  </select>
                  {% if error_kota %}
                  <div class="text-danger">{{ error_kota }}</div>
                  {% endif %}
                </div>
            </div>
            <div class="form-group required">
                <label class="col-sm-3 control-label">Kecamatan</label>
                <div class="col-sm-9">
                  <input type="text" name="kecamatan" value="{{kecamatan}}" class="form-control" />
                  {% if error_kecamatan %}
                  <div class="text-danger">{{ error_kecamatan }}</div>
                  {% endif %}
                </div>
            </div>
            <div class="form-group required">
                <label class="col-sm-3 control-label">Kelurahan</label>
                <div class="col-sm-9">
                  <input type="text" name="kelurahan" value="{{kelurahan}}" class="form-control" />
                  {% if error_kelurahan %}
                  <div class="text-danger">{{ error_kelurahan }}</div>
                  {% endif %}
                </div>
            </div>
          </fieldset>
          <div class="buttons">
            <div class="pull-right">
              <input type="submit" value="Upgrade Akun" class="btn btn-primary" />
            </div>
          </div>
        </form>
      {% endif %}

      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

{% if bermitra == 1 %}
  <script>
    $("#jenis_mitra").show();
  </script>
{% endif %}

<script type="text/javascript">
function showMitraForm(){
    $("#jenis_mitra").show();
}

function selectReseller(){
    $(".paket-reseller").show();
    $(".paket-stockist-virtual").hide();
    $(".paket-stockist").hide();
    $(".paket-investor").hide();
}

function selectStockistVirtual(){
    $(".paket-reseller").hide();
    $(".paket-stockist-virtual").show();
    $(".paket-stockist").hide();
    $(".paket-investor").hide();
}

function selectStockist(){
    $(".paket-reseller").hide();
    $(".paket-stockist-virtual").hide();
    $(".paket-stockist").show();
    $(".paket-investor").hide();
}

function selectInvestor(){
    $(".paket-reseller").hide();
    $(".paket-stockist-virtual").hide();
    $(".paket-stockist").hide();
    $(".paket-investor").show();
}

function hideMitraForm(){
    $("#jenis_mitra").hide();
}

{% if provinsi != '' %}
  getKabupaten({{ provinsi }}, true);
{% endif %}

function getKabupaten(id_zone, once = false){
  $.ajax({
    type: "post",
    url: "{{ url_get_kabupaten }}",
    data: {id_zone: id_zone},
    success: function(result){
      $("#kota").html('<option value="" selected>-- Select Kota / Kabupaten --</option>'+result);
      {% if kota != '' and once %}
        $("#kota").val({{ kota }});
      {% endif %}
    },
    error: function (xhr, ajaxOptions, thrownError){
      alert('Gagal mendapatkan Data kota');
    }
  });
}
</script>

{{ footer }}
