{{ header }}
<div id="common-success" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h3>{{ heading_title }}</h3>

      {{ text_message }}
      <hr>
      <p><strong>Bila anda memilih metode pembayaran Bank Transfer</strong></p>
      <p>Rekening resmi yang kami gunakan adalah sebagai berikut : </p>
      <table class="">
        <tr>
          <th width="130">Nama Bank</th><td> : Bank Syariah Mandiri</td>
        </tr>
        <tr>
          <th>Kode Bank</th><td> : (451)</td>
          </tr>
        <tr>
          <th>No Rekening</th><td> : 711.711.3967</td>
          </tr>
        <tr>
          <th>Nama Rekening</th><td> : Legisan M.Ag</td>
        </tr>
      </table>
      <a href="{{ konfirmasi }}" class="buton btn btn-info" style="margin-top: 20px;">Konfirmasi Pembayaran</a>
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}