
<header class="scroll-fix">
	<div class="container">
		<div class="box-inner">
			<div class="box-inner-inner">
				{{ position3 }}
				<div id="logo"> 
				{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
				  <h1><a href="{{ home }}">{{ name }}</a></h1>
				  {% endif %}
				</div>
				<div class="col-cart">
					<li id="top-links" class="nav header-dropdown">
					  <ul class="list-inline">
						<li class="dropdown">
						  <ul class="dropdown-menu dropdown-menu-right pt-account">
							{% if logged %}
							<li><a id="pt-logout-link" href="?route=account/account">My Account</a></li>
							{% else %}
							<li><a id="pt-register-link" href="{{ register }}">{{ text_register }}</a></li>
							<li><a id="pt-login-link" href="{{ login }}">{{ text_login }}</a></li>
							{% endif %}
						  </ul>
						</li>
					  </ul>
					</li>
					<div class="header-phone hidden-lg"><a href="{{ contact }}"><span class="hidden-xs hidden-sm hidden-md">{{ text_header_phone }}<span>{{ telephone }}</span></span></a></div>
					{% if header_cart %}{{ cart }}{% endif %}

				</div>
			</div>
			<div class="col-search">{{ search }}</div>
		</div>
	</div>
	<div class="top-menu">
		<div class="container">
			<div class="container-inner">
				<div class="col-ver visible-lg">{{ position1 }}</div>
				<div class="col-hoz visible-lg">{{ position2 }}</div>
				<div class="header-phone"><a href="{{ contact }}"><span ><span>{{ telephone }}</span>{{ text_header_phone }}</span></a></div>
			</div>
		</div>
	</div>
</header>
