{% if modules or use_filter %}
<aside id="column-right" class="col-sm-3 col-xs-12">

  {% if is_logged %}
    <div style="padding: 16px; margin-bottom: 20px; border-radius: 4px; background-color: rgba(249, 250, 251, 1); box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;">
      <h5 style="font-size: 1.5rem; margin-bottom: 8px;">
        <a href="{{ ewallet }}">Saldoku</a>
      </h5>
      <h4 style="margin: 0">{{ balance }}</h4>
    </div>
  {% endif %}

  <div class="col-order-inner">
  {% if use_filter %}
    {{ filter_section }}
  {% endif %}
  {% for module in modules %}
  {{ module }}
  {% endfor %}
  </div>
</aside>
{% endif %}
