{{ header }}{{ column_left }}
<div id="content">
<div class="page-header">
  <div class="container-fluid">
    <h1>Balance</h1>
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="container-fluid">
    {% if warning %}
    <div class="alert alert-warning alert-dismissible"><i class="fa fa-check-circle"></i> {{ warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
  <div class="row">
    <div id="filter-order" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Your Balance</h3>
          </div>
          <div class="panel-body">
            <span style="font-size: 28px; font-weight: bold;">{{ balance }}</span>
          </div>
        </div>
    </div>
    <div class="col-md-9 col-md-pull-3 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
        </div>
        <div class="panel-body">
          <form method="post" action="" enctype="multipart/form-data" id="form-order">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <td class="text-right">{% if sort == 'o.order_id' %} <a href="{{ sort_order }}" class="{{ order|lower }}">Id Pesanan</a> {% else %} <a href="{{ sort_order }}">Id Pesanan</a> {% endif %}</td>
                    <td class="text-left">{% if sort == 'o.date_added' %} <a href="{{ sort_date_added }}" class="{{ order|lower }}">Tanggal Transaksi</a> {% else %} <a href="{{ sort_date_added }}">Tanggal Transaksi</a> {% endif %}</td>
                    <td class="text-left">{% if sort == 'customer' %} <a href="{{ sort_customer }}" class="{{ order|lower }}">Nama Pelanggan</a> {% else %} <a href="{{ sort_customer }}">Nama Pelanggan</a> {% endif %}</td>
                    <td class="text-right">{% if sort == 'o.total' %} <a href="{{ sort_total }}" class="{{ order|lower }}">Jumlah</a> {% else %} <a href="{{ sort_total }}">Jumlah</a> {% endif %}</td>
                    {% if is_pabrik %}
                      <td class="text-right">Payout</td>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                {% if orders %}
                  {% for order in orders %}
                  <tr>
                    <td class="text-right" style="width: 125px">
                      <a href="{{ order.view }}">
                        {{ order.order_id }}
                      </a>
                    </td>
                    <td class="text-left">{{ order.date_added }}</td>
                    <td class="text-left">{{ order.customer }}</td>
                    <td class="text-right">{{ order.total }}</td>
                    {% if is_pabrik %}
                    <td class="text-right">
                      {% if order.user_payout_id %}
                        {% if order.date_action %}
                          {{ order.date_action }}
                        {% else %}
                          Processing
                        {% endif %}
                      {% else %}
                        <a href="{{ order.request_payout }}" data-toggle="tooltip" title="Request Payout" class="btn btn-primary">
                          <i class="fa fa-eye"></i>
                        </a>
                      {% endif %}
                    </td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="8">{{ text_no_results }}</td>
                </tr>
                {% endif %}
                </tbody>
              </table>
            </div>
          </form>
          <div class="row">
            <div class="col-sm-6 text-left">{{ pagination }}</div>
            <div class="col-sm-6 text-right">{{ results }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}