{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>Payout</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="row">
      <div id="filter-customer" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Your Balance</h3>
          </div>
          <div class="panel-body">
            <span style="font-size: 28px; font-weight: bold;">{{ balance }}</span>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Request Payout</h3>
          </div>
          <div class="panel-body">
            {% if is_system %}
              {% if user_payment %}
                <form action="" method="POST">
                  <div class="form-group">
                    <label class="control-label" for="input-amount">Amount</label>
                    <input type="text" name="amount" value="{{ amount }}" id="input-amount" class="form-control" />
                    {% if error_amount %}
                    <div class="text-danger">{{ error_amount }}</div>
                    {% endif %}
                  </div>
                  <p>
                    Payout akan dikirim ke <strong>{{ user_payment.bank_name }}</strong> dengan nomor rekening <strong>{{ user_payment.bank_account_number }}</strong> atas nama <strong>{{ user_payment.bank_account_name }}</strong>.
                  </p>
                  <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary">
                      Send Request
                    </button>
                  </div>
                </form>
              {% else %}
                <p>
                  Untuk bisa melakukan request payout, anda harus melengkapi <a href="{{ user_payment_link }}">informasi pembayaran</a>.
                </p>
              {% endif %}
            {% else %}
              <p>
                Untuk melakukan request payout, kunjungi halaman <a href="{{ user_payout_link }}">Balance</a>.
              </p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-9 col-md-pull-3 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> History Payout</h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <td class="text-left">Tanggal</td>
                    <td class="text-left">Deskripsi</td>
                    <td class="text-left">Status</td>
                    <td class="text-right">Jumlah</td>
                  </tr>
                </thead>
                <tbody>
                {% if histories %}
                  {% for history in histories %}
                  <tr>
                    <td class="text-left">{{ history.date_added }}</td>
                    <td class="text-left">{{ history.description }}</td>
                    <td class="text-left">{{ history.status }}</td>
                    <td class="text-right">{{ history.amount }}</td>
                  </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td class="text-center" colspan="4">{{ text_no_results }}</td>
                  </tr>
                {% endif %}
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-sm-6 text-left">{{ pagination }}</div>
              <div class="col-sm-6 text-right">{{ results }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
  $('.table-responsive').on('shown.bs.dropdown', function (e) {
    var t = $(this),
      m = $(e.target).find('.dropdown-menu'),
      tb = t.offset().top + t.height(),
      mb = m.offset().top + m.outerHeight(true),
      d = 20;
    if (t[0].scrollWidth > t.innerWidth()) {
      if (mb + d > tb) {
        t.css('padding-bottom', ((mb + d) - tb));
      }
    } else {
      t.css('overflow', 'visible');
    }
  }).on('hidden.bs.dropdown', function () {
    $(this).css({'padding-bottom': '', 'overflow': ''});
  });
  //--></script>
  <script type="text/javascript"><!--
  $('#button-filter').on('click', function() {
    url = 'index.php?route=customer/ewallet_balance&user_token={{ user_token }}';
    var filter_name = $('input[name=\'filter_name\']').val();
    if (filter_name) {
      url += '&filter_name=' + encodeURIComponent(filter_name);
    }
    var filter_email = $('input[name=\'filter_email\']').val();
    if (filter_email) {
      url += '&filter_email=' + encodeURIComponent(filter_email);
    }
    var filter_customer_group_id = $('select[name=\'filter_customer_group_id\']').val();
    if (filter_customer_group_id !== '') {
      url += '&filter_customer_group_id=' + encodeURIComponent(filter_customer_group_id);
    }
    location = url;
  });
  //--></script>
  <script type="text/javascript"><!--
  $('input[name=\'filter_name\']').autocomplete({
    'source': function(request, response) {
      $.ajax({
        url: 'index.php?route=customer/customer/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
        dataType: 'json',
        success: function(json) {
          response($.map(json, function(item) {
            return {
              label: item['name'],
              value: item['customer_id']
            }
          }));
        }
      });
    },
    'select': function(item) {
      $('input[name=\'filter_name\']').val(item['label']);
    }
  });
  $('input[name=\'filter_email\']').autocomplete({
    'source': function(request, response) {
      $.ajax({
        url: 'index.php?route=customer/customer/autocomplete&user_token={{ user_token }}&filter_email=' +  encodeURIComponent(request),
        dataType: 'json',
        success: function(json) {
          response($.map(json, function(item) {
            return {
              label: item['email'],
              value: item['customer_id']
            }
          }));
        }
      });
    },
    'select': function(item) {
      $('input[name=\'filter_email\']').val(item['label']);
    }
  });
  //--></script>
  <script type="text/javascript"><!--
  $('.date').datetimepicker({
    language: '{{ datepicker }}',
    pickTime: false
  });
  //--></script>
</div>
{{ footer }}
