{{ header }}{{ column_left }}

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-geo-zone" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-geo-zone" class="form-horizontal">
          <input type="hidden" value="{{ ongkir_id }}" name="ongkir_id" />
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name">Provinsi</label>
            <div class="col-sm-10">
              <select name="id_zone" onchange="pilihkabupaten(this.value)" class="form-control" required>
                <option value=""> -- Pilih provinsi dahulu -- </option>
                {% for zone in list_zone %}
                <option {{ zone.selected }} value="{{ zone.zone_id }}">{{ zone.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name">Kabupaten / Kota </label>
            <div class="col-sm-10">
              <select id="id_kota" name="id_kota" class="form-control" required>
                <option value=""> -- Pilih provinsi dahulu -- </option>
              </select>
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name">Nama Tarif</label>
            <div class="col-sm-10">
              <input type="text" name="nama_tarif" required value="{{ nama_tarif }}" placeholder="{{ entry_name }}" id="input-nama_tarif" class="form-control" />
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-description">Tarif per KG</label>
            <div class="col-sm-10">
              <input type="number" name="tarif" required value="{{ tarif }}" placeholder="10000" id="input-tarif" class="form-control" />
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-free_minimum_price">Free Ongkir - Minimum Total Belanja</label>
            <div class="col-sm-10">
              <input type="number" name="free_minimum_price" value="{{ free_minimum_price }}" placeholder="1000000" id="input-free_minimum_price" class="form-control" />
              <small class="form-text text-muted">Diisi 0 bila tidak ada minimum total belanja untuk mendapatkan free ongkir.</small>
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-free_minimum_weight">Free Ongkir - Minimum Berat Belanja</label>
            <div class="col-sm-10">
              <input type="number" name="free_minimum_weight" value="{{ free_minimum_weight }}" placeholder="10" id="input-free_minimum_weight" class="form-control" />
              <small class="form-text text-muted">Diisi 0 bila tidak ada minimum berat belanja untuk mendapatkan free ongkir.</small>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    {% if id_zone != '' %}
      pilihkabupaten({{ id_zone }});
    {% endif %}

    function pilihkabupaten(id_zone){
      $.ajax({
        type: "post",
        url: "{{ url_get_kabupaten }}",
        data: {id_zone: id_zone},
        success: function(result){
          $("#id_kota").html(result);
          {% if id_kota != '' %}
            $("#id_kota").val({{ id_kota }});
          {% endif %}
        },
        error: function (xhr, ajaxOptions, thrownError){
          alert('Gagal mendapatkan Data kota');
        }
      });
    }
</script></div>
{{ footer }}
