{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right"><a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-geo-zone').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="alert alert-info">
        Jika ada Biaya per kg yang nilainya 0 Rupiah, maka Kota / Kabupaten tersebut bisa mendapatkan gratis biaya kirim. <br>Ketentuan untuk mendapatkan gratis biaya kirim dapat diatur melalui menu Setting - Additional Setting - Free Ongkir 
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-geo-zone">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-left">{% if sort == 'tarif' %}
                    <a href="{{ sort_nama_provinsi }}" class="{{ order|lower }}">Provinsi</a>
                    {% else %}
                    <a href="{{ sort_nama_provinsi }}">Provinsi</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'nama_kota' %}
                    <a href="{{ sort_nama_kota }}" class="{{ order|lower }}">Kota / Kabupaten</a>
                    {% else %}
                    <a href="{{ sort_nama_kota }}">Kota / Kabupaten</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'tarif' %}
                    <a href="{{ sort_nama_tarif }}" class="{{ order|lower }}">Nama Tarif</a>
                    {% else %}
                    <a href="{{ sort_nama_tarif }}">Nama Tarif</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'tarif' %}
                    <a href="{{ sort_tarif }}" class="{{ order|lower }}">Biaya per kg</a>
                    {% else %}
                    <a href="{{ sort_tarif }}">Biaya per kg</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'tarif' %}
                    <a href="{{ sort_tarif }}" class="{{ order|lower }}">Free Ongkir - Minimum Total Belanja</a>
                    {% else %}
                    <a href="{{ sort_tarif }}">Free Ongkir - Minimum Total Belanja</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'tarif' %}
                    <a href="{{ sort_tarif }}" class="{{ order|lower }}">Free Ongkir - Minimum Berat Belanja</a>
                    {% else %}
                    <a href="{{ sort_tarif }}">Free Ongkir - Minimum Berat Belanja</a>
                    {% endif %}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if list_ongkir %}
                {% for ongkir in list_ongkir %}
                <tr>
                  <td class="text-center">{% if ongkir.ongkir_id in selected %}
                    <input type="checkbox" name="selected[]" value="{{ ongkir.ongkir_id }}" checked="checked" />
                    {% else %}
                    <input type="checkbox" name="selected[]" value="{{ ongkir.ongkir_id }}" />
                    {% endif %}</td>
                  <td class="text-left">{{ ongkir.nama_provinsi }}</td>
                  <td class="text-left">{{ ongkir.nama_kota }} {{ ongkir.type }}</td>
                  <td class="text-right">{{ ongkir.nama_tarif }}</td>
                  <td class="text-right">{{ ongkir.tarif }}</td>
                  <td class="text-right">{{ ongkir.free_minimum_price }}</td>
                  <td class="text-right">{{ ongkir.free_minimum_weight }}</td>
                  <td class="text-right"><a href="{{ ongkir.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="6">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}
