<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td class="text-left">Nama</td>
        <td class="text-left">KTP</td>
        <td class="text-left">NPWP</td> 
        <td class="text-left">Riwayat Trx</td> 
        <td class="text-left">Tanggal</td>
        <td width="110" class="text-center">{{ column_action }}</td>
      </tr>
    </thead>
    <tbody>
    {% if customer_approvals %}
    {% for customer_approval in customer_approvals %}
    <tr>
      <td class="text-left"><a href="{{ customer_approval.link_member }}" target="_blank">{{ customer_approval.nama }}</a></td>
      <td class="text-left"><a href="{{ customer_approval.linkktp }}" target="_blank">lihat ktp</a></td>
      <td class="text-left">{{ customer_approval.npwp }}</td> 
      <td class="text-left"><a href="{{ customer_approval.link }}" target="_blank"><i style="font-size:10px;">Riwayat transaksi</i></a></td>
      <td class="text-left">{{ customer_approval.date_added }}</td>
      <td class="text-right">
          {% if customer_approval.not_approved %}
             <a href="{{ customer_approval.approve }}" data-toggle="tooltip" title="{{ button_approve }}" class="btn btn-success"><i class="fa fa-check-square-o"></i></a>  &nbsp; 
            
        <a href="{{ customer_approval.deny }}" data-toggle="tooltip" title="{{ button_deny }}" class="btn btn-danger"><i class="fa fa-times"></i></a> 
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td class="text-center" colspan="6">{{ text_no_results }}</td>
    </tr>
    {% endif %}
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-sm-6 text-left">{{ pagination }}</div>
  <div class="col-sm-6 text-right">{{ results }}</div>
</div>
