{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-customer-group">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td class="text-left">Nama</td>
                  <td>Kemitraan</td>
                  {# <td>Paket</td> #}
                  <td>Kota</td>
                  <td>Request Date</td>
                  <td>Order Status</td>
                  <td>Action</td>
                </tr>
              </thead>
              <tbody>
                {% if request_kemitraans %}
                {% for item in request_kemitraans %}
                <tr>
                  <td class="text-left"><a href="{{ item.link }}">{{ item.name }}</a></td>
                  <td class="text-left">
                    <strong>{{ item.level }}</strong>
                    <div>{{ item.nama_paket }}</div>
                  </td>
                  {# <td class="text-left">{{ item.nama_paket }}</td> #}
                  <td class="text-left">{{ item.kota }}</td>
                  <td class="text-left">{{ item.date_added }}</td>
                  <td class="text-left">{{ item.order_status }}</td>
                  <td class="text-right">
                    {% if item.is_not_paid and (item.level == "Reseller") %}
                      Pesanan belum dibayar.
                    {% else %}
                      <a class="btn btn-info btn-sm" href="{{ item.accept }}">Accept</a> &nbsp;
                      <a class="btn btn-danger btn-sm" href="{{ item.decline }}">Decline</a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="6">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        {# <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div> #}
      </div>
    </div>
  </div>
</div>
{{ footer }}
