{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>Payout Action</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Detail</h3>
          </div>
          <div class="panel-body">
            <dl class="row">
              <dt class="col-sm-12">
                <h4>User Detail</h4>
              </dt>
              <dt class="col-sm-4">User Name</dt>
              <dd class="col-sm-8">{{ payout.user ?? '-' }}</dd>

              <dt class="col-sm-4">E-Mail</dt>
              <dd class="col-sm-8">{{ payout.email ?? '-' }}</dd>

              <dt class="col-sm-4">User Group</dt>
              <dd class="col-sm-8">{{ payout.user_group ?? '-' }}</dd>

              <dt class="col-sm-12" style="margin-top: 24px;">
                <h4>Bank Detail</h4>
              </dt>

              <dt class="col-sm-4">Bank Name</dt>
              <dd class="col-sm-8">{{ payout.bank_name }}</dd>

              <dt class="col-sm-4">Bank Account Name</dt>
              <dd class="col-sm-8">{{ payout.bank_account_name }}</dd>

              <dt class="col-sm-4">Bank Account Number</dt>
              <dd class="col-sm-8">{{ payout.bank_account_number }}</dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Payout Detail</h3>
          </div>
          <div class="panel-body">
            <dl class="row">
              <dt class="col-sm-3">Amount</dt>
              <dd class="col-sm-9">{{ payout.amount }}</dd>
              <dt class="col-sm-3">Biaya Transfer</dt>
              <dd class="col-sm-9">{{ payout.admin_fee }}</dd>
              <dt class="col-sm-3">Transfer</dt>
              <dd class="col-sm-9">{{ payout.transfer }}</dd>
              <dt class="col-sm-3">Date Request</dt>
              <dd class="col-sm-9">{{ payout.date_added }}</dd>
              {% if payout.date_action %}
                <dt class="col-sm-3">Date Request</dt>
                <dd class="col-sm-9">{{ payout.date_action }}</dd>
              {% endif %}
            </dl>
            {% if payout.date_action %}
              <p>
                Telah ditransfer sebesar <strong>{{ payout.transfer }}</strong> pada <strong>{{ payout.date_action }}</strong>.
              </p>
              <img src="{{payout.bukti}}" alt="" style="width: 50%">
            {% else %}
              <p>
                Silahkan transfer sebesar <strong>{{ payout.transfer }}</strong> dan klik accept.
              </p>
            {% endif %}
          </div>
          {% if payout.date_action == NULL %}
          <div class="panel-footer">
            <form action="{{action}}" method="POST" enctype="multipart/form-data" style="display: flex; align-items: center; justify-content: space-between;">
              <div>
                <label for="">Bukti Transfer</label>
                <input type="file" name="bukti" accept="image/*">
                {% if error_bukti %}
                <div class="text-danger">{{ error_bukti }}</div>
                {% endif %}
              </div>
              <button type="submit" class="btn btn-primary">Accept</button>
            </form>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
  $('.table-responsive').on('shown.bs.dropdown', function (e) {
    var t = $(this),
      m = $(e.target).find('.dropdown-menu'),
      tb = t.offset().top + t.height(),
      mb = m.offset().top + m.outerHeight(true),
      d = 20;
    if (t[0].scrollWidth > t.innerWidth()) {
      if (mb + d > tb) {
        t.css('padding-bottom', ((mb + d) - tb));
      }
    } else {
      t.css('overflow', 'visible');
    }
  }).on('hidden.bs.dropdown', function () {
    $(this).css({'padding-bottom': '', 'overflow': ''});
  });
  //--></script>
  <script type="text/javascript"><!--
  $('#button-filter').on('click', function() {
    url = 'index.php?route=customer/ewallet_balance&user_token={{ user_token }}';
    var filter_name = $('input[name=\'filter_name\']').val();
    if (filter_name) {
      url += '&filter_name=' + encodeURIComponent(filter_name);
    }
    var filter_email = $('input[name=\'filter_email\']').val();
    if (filter_email) {
      url += '&filter_email=' + encodeURIComponent(filter_email);
    }
    var filter_customer_group_id = $('select[name=\'filter_customer_group_id\']').val();
    if (filter_customer_group_id !== '') {
      url += '&filter_customer_group_id=' + encodeURIComponent(filter_customer_group_id);
    }
    location = url;
  });
  //--></script>
  <script type="text/javascript"><!--
  $('input[name=\'filter_name\']').autocomplete({
    'source': function(request, response) {
      $.ajax({
        url: 'index.php?route=customer/customer/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
        dataType: 'json',
        success: function(json) {
          response($.map(json, function(item) {
            return {
              label: item['name'],
              value: item['customer_id']
            }
          }));
        }
      });
    },
    'select': function(item) {
      $('input[name=\'filter_name\']').val(item['label']);
    }
  });
  $('input[name=\'filter_email\']').autocomplete({
    'source': function(request, response) {
      $.ajax({
        url: 'index.php?route=customer/customer/autocomplete&user_token={{ user_token }}&filter_email=' +  encodeURIComponent(request),
        dataType: 'json',
        success: function(json) {
          response($.map(json, function(item) {
            return {
              label: item['email'],
              value: item['customer_id']
            }
          }));
        }
      });
    },
    'select': function(item) {
      $('input[name=\'filter_email\']').val(item['label']);
    }
  });
  //--></script>
  <script type="text/javascript"><!--
  $('.date').datetimepicker({
    language: '{{ datepicker }}',
    pickTime: false
  });
  //--></script>
</div>
{{ footer }}
