{{ header }}{{ column_left }}
 <div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>Changelog</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>V1.7 - Payout Pabrik dan System</h3>
        <ul>
          <li>Unreleased</li>
        </ul>

        <h3 style="margin-top: 24px;">V1.6 - Referral and Ewallet</h3>
        <ul>
          <li>Added referral on register</li>
          <li>Added poin hadiah setelah referral register</li>
          <li>Added poin hadiah setelah referral aktivasi</li>
          <li>Added komisi</li>
          <li>Added ewallet</li>
          <li>Added ewallet payout</li>
          <li>Added store kredit</li>
          <li>Added balance dan payout di admin</li>
          <li>Added changelog page di admin</li>
        </ul>

        <h3 style="margin-top: 24px;">V1.5 - Payment Midtrans</h3>
        <ul>
          <li>Added midtrans</li>
          <li>Added bukti untuk pesanan sudah sampai</li>
          <li>Added halaman khusus pabrik</li>
          <li>Added Send mail after payment received</li>
          <li>Added Send mail after barang sudah diterima</li>
          <li>Added coupon</li>
          <li>Added free ongkir minimum total belanja dan minimum berat</li>
          <li>Added kode unik anggota</li>
          <li>Fixed register</li>
          <li>Fixed upgrade and request kemitraan</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{ footer }}